<ion-header>
  <ion-toolbar>
    <ion-title>
      Collect Token
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    
      <div
        ngxStripeCardGroup
        [formGroup]="stripeTest"
        [elementsOptions]="elementsOptions"
      >
      <ion-item>
        <ion-label>User Name:</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        Checkout Amount: HKD 4
      </ion-item>
       
       
      <ion-row>
        <ion-col size="12">
        Card Detail
       
        <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
        </ion-col>
        <ion-col><ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry></ion-col>
        <ion-col><ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc></ion-col>
      </ion-row> 
        <ion-button type="submit" (click)="pay()">
          PAY
        </ion-button>
      </div>
   
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="paymentData">
    <ion-card-header>
      <ion-card-subtitle>Carge Payment Response</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{paymentData | json}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="intentData">
    <ion-card-header>
    <ion-card-subtitle>Create Payment Intent Response</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      {{intentData | json}}
    </ion-card-content>
  </ion-card>
  

</ion-content>
